.content {
  flex:1;
  display: flex;
}

.content > div {
  width: 100%;
  height: 100%;
  display: none;
}

#Home:target  {
  background-color: black;
  display: flex;
}


#Projects:target {
  background-color: aqua;
  display: flex;
}

#About:target {
  display: flex;
  background-color: blueviolet;
}