@keyframes entry {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes line-animate {
  to {
    stroke-dashoffset: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  min-width: 1120px;
  min-height: 200px;
  z-index: 999;
  position: absolute;
  background: black;
  pointer-events: none;
  animation: entry .5s ease-in-out forwards 2.5s;
  -webkit-animation: entry .5s ease-in-out forwards 2.5s;
}
.logo {
  path {
    stroke-dashoffset: 800; 
    stroke-dasharray: 800; 
    animation: line-animate 2s ease forwards;
    -webkit-animation: line-animate 2s ease forwards;
  }
}