@keyframes invisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.footer {
  font-family: Impact;
  display: flex;
  bottom: 0;
  height: 64px;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.87);
  opacity: 0;
  z-index: 999;
  transition: opacity 1s;
  animation: invisible 3s;
}

.author {
  font-weight: 600;
}


.footer:hover {
  opacity: 1 !important;
  animation: none;
}