.footer {
    display: flex;
    flex-basis: 64px;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.87);
    font-weight: 600;
}