.App {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  
  :global {
    & {
      #Home, #Careers, #Projects, #About {
        position: absolute;
        transition: transform .5s ease-in-out;
        display: flex;
        height: 100vh;
        width: 100vw;
        transform: translate3d(0, -100vh, 0);
        overflow-y: hidden;
      }
    }
  }
  
  :global {
    & {
      #Home:target, #Careers:target, #Projects:target, #About:target {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

// .App {
//   width: 100vw;
//   height: 100vh;
//   overflow-y: hidden;

//   .Content {
//     height: 500vh;
//     width: 100%;
//     overflow-y: hidden;
//     flex-direction: column;
//     display: flex;

//     :global {
//       & {
//         #Home, #Careers, #Projects, #About {
//           transition: all .5s;
//           display: flex;
//           height: 100vh;
//           width: 100vw;
//           transform: translate3d(0, 100vh, 0);
//           overflow-y: hidden;
//         }
//       }
//     }

//     :global {
//       & {
//         #Home:target ~ #Home {
//           transform: translate3d(0, 0, 0);
//         }
//         #Careers:target ~ #Home  {
//           transform: translate3d(0, -100vh, 0);
//         }
//         #Projects:target ~ #Home  {
//           transform: translate3d(0, -200vh, 0);
//         }
//         #About:target ~ #Home  {
//           transform: translate3d(0, -300vh, 0);
//         }
//       }
//     }
//   }
// }



